<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !/css/
    RewriteCond %{REQUEST_FILENAME} !/js/
    RewriteCond %{REQUEST_FILENAME} !/img/

    # 通常のフロントコントローラ方式
    RewriteRule ^ front.php [L]

    # リダイレクトによる実装
    #RewriteRule ^ front_redirect.php [L]
</IfModule>
